/* static/css/style.css */

/* Estilos Base */
body {
  background-color: #f7f8fc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Define a tipografia padrão */
  padding-top: 60px; /* Adiciona um espaço no topo para o header */
}

/* Container de Login */
.login-container {
  max-width: 400px; /* Define a largura máxima do contêiner */
  margin: 0px auto; /* Centraliza o container */
  padding: 30px;    /* Adiciona espaço interno de 30 pixels ao redor do conteúdo dentro do contêiner */
  background-color: #162c39; /* Cor de fundo escura para contraste */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

/* Título do Login */
.login-title {
  color: #ffffff; /* Título em branco para contraste */
  text-align: center; /* Centraliza o título */
  font-size: 4rem; /* Tamanho grande para destaque */
  font-weight: 300; /* Peso da fonte para um visual mais fino */
  margin: 2rem 0; /* Espaçamento vertical */
  letter-spacing: 0.1rem; /* Espaçamento entre letras */
  text-transform: uppercase; /* Texto em maiúsculo */
}

/* Logo */
.logo {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  gap: 20px; /* Espaço entre os elementos */
  margin-bottom: 40px; /* Espaçamento abaixo do logo */
}

/* Imagem do Logo */
.logo img {
  max-width: 80px;
  max-height: 80px;
}

/* Formulário de Login */
.form-login {
  display: flex;
  flex-direction: column; /* Organiza os campos verticalmente */
}

/* Campos de Formulário */
.form-control {
  margin-bottom: 15px; /* Espaçamento entre os campos */
  padding: 15px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas dos campos */
  border: 1px solid #406882; /* Cor da borda */
}

/* Botão Primário */
.btn-primary {
  background-color: #4b89ac; /* Cor de fundo */
  border-color: #3a6d8c; /* Cor da borda */
  padding: 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  margin-bottom: 15px; /* Espaçamento abaixo do botão */
}

/* Hover do Botão Primário */
.btn-primary:hover {
  background-color: #3a6d8c; /* Cor de fundo ao passar o mouse */
}

/* Links de Esqueci a Senha e Cadastro */
.forgot-password, .sign-up {
  display: block;
  text-align: center;
  margin-top: 10px; /* Espaçamento acima dos links */
  color: #79a3b1; /* Cor dos links */
  font-size: 14px; /* Tamanho da fonte menor */
}

/* Hover dos Links de Esqueci a Senha e Cadastro */
.forgot-password:hover, .sign-up:hover {
  color: #a3cef1; /* Cor ao passar o mouse */
  text-decoration: underline; /* Sublinha ao passar o mouse */
}

/* Toast Notification */
.toast {
  z-index: 1060; /* Posição na pilha */
  animation: fadein 0.5s, fadeout 0.5s 2.5s; /* Animações de entrada e saída */
}

/* Sidebar */
.sidebar {
  width: 250px; /* Largura padrão do sidebar */
  height: 100vh; /* Altura total da tela */
  position: fixed; /* Fixo na tela */
  left: 0; /* Alinhado à esquerda */
  top: 0; /* Alinhado ao topo */
  background-color: #162c39; /* Cor de fundo */
  overflow-x: hidden; /* Esconde o overflow horizontal */
  overflow-y: auto; /* Permite scroll vertical se necessário */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Sombra para efeito de profundidade */
  z-index: 1000;  /* Garante que o sidebar fique acima de outros elementos */
  transition: width 0.3s; /* Transição suave da largura */
  padding-top: 60px; /* Espaçamento superior */
}

/* Menu do Sidebar */
.sidebar .menu {
  padding-top: 60px; /* Espaçamento superior */
}

/* Lista do Menu */
.sidebar .menu ul {
  list-style-type: none; /* Remove marcadores de lista */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margens */
}

/* Itens da Lista */
.sidebar .menu ul li {
  padding: 10px; /* Espaçamento interno */
  border-bottom: 1px solid #406882; /* Linha divisória */
}

/* Links dos Itens */
.sidebar .menu ul li a {
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block; /* Ocupa toda a largura disponível */
  transition: background-color 0.3s; /* Transição suave do background */
}

/* Hover dos Links */
.sidebar .menu ul li a:hover {
  background-color: #4b89ac; /* Cor de fundo ao passar o mouse */
}

/* Botão de Alternância do Sidebar */
.sidebar-toggle {
  position: fixed; /* Posicionamento fixo na página */
  top: 0; /* Ajuste conforme necessário para alinhar com o topo do sidebar */
  left: 0; /* Ajuste para ficar ao lado do sidebar */
  z-index: 1001; /* Garante que o botão fique acima do sidebar */
  background-color: #4b89ac; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none; /* Sem borda */
  width: 60px; /* Largura do botão */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 1.5rem; /* Tamanho do ícone */
  cursor: pointer;  /* Muda o cursor para indicar que é clicável */
  /*transition: all 0.3s; /* Transição suave de todas as propriedades */
}

/* Estilos de Ícones e Texto dos Links */
.icon {
  margin-right: 10px; /* Espaçamento à direita dos ícones */
  vertical-align: middle; /* Alinhamento vertical dos ícones com o texto */
}

.link-text {
  vertical-align: middle; /* Alinhamento vertical do texto com os ícones */
}

/* Sidebar Minimizado */
.sidebar.minimized {
  width: 60px; /* Largura do sidebar minimizado */
  padding-top: 60px; /* Espaço suficiente para o botão de alternância */
  content: '☰'; /* Caractere de seta para esquerda */
  font-size: 24px; /* Tamanho do ícone da seta */
  line-height: 10px; /* Altura da linha para o ícone da seta */
}

/* Ocultar Texto no Sidebar Minimizado */
.sidebar.minimized .menu ul li a span {
  display: none; /* Oculta o texto dos links */
}

/* Ajustar Margem do Conteúdo Principal */
.sidebar.minimized ~ .center-content {
  margin-left: 60px; /* Ajuste conforme a nova largura do sidebar */
}

/* Alinha o botão de alternância à direita quando o sidebar está ativo */
.sidebar.active ~ .sidebar-toggle {
  left: 190px; /* Ajuste baseado na largura do sidebar */
}

/* Estilo do cabeçalho */
header {
  background: #f8f9fa; /* Cor de fundo claro */
  padding: 0.5rem 1rem; /* Espaçamento interno */
  display: flex; /* Uso de flexbox para alinhamento */
  justify-content: space-between; /* Espaçamento entre os itens */
  align-items: center; /* Alinhamento vertical dos itens */
  border-bottom: 1px solid #dee2e6; /* Linha divisória na parte inferior */
  position: fixed; /* Fixa o header no topo */
  top: 0;  /* Define a posição do topo do elemento em relação ao topo do seu contêiner pai (ou do viewport) como 0. */
  left: 250px; /* Espaço para o sidebar */
  right: 0;  /* Define a posição do lado direito do elemento em relação ao seu contêiner pai como 0. */
  z-index: 1050; /* Garante que o header fica acima do sidebar */
  box-sizing: border-box; /* Garante que a largura e altura do elemento incluam bordas e preenchimento. */
  flex-wrap: nowrap; /* Prevent wrapping onto multiple lines */
}

/* Estilo do container do título dentro do cabeçalho */
.header-container h1 {
  margin: 0; /* Remove margem padrão */
  font-size: 1.5rem; /* Tamanho da fonte do título */
  color: #333; /* Cor do texto escuro */
  background: #f8f9fa; /* Cor de fundo claro */
  display: flex;
  align-items: center;
}

/* Estilo da navegação do usuário */
.user-nav {
  display: flex; /* Uso de flexbox para alinhamento */
  align-items: center; /* Alinhamento vertical dos itens */
  gap: 1rem; /* Espaço entre os elementos da navegação */
  margin-left: auto; /* Alinha à direita */
}

/* Estilo dos links da navegação do usuário */
.user-nav a, .user-nav form {
  color: #333; /* Cor do texto dos links */
  text-decoration: none; /* Remove o sublinhado dos links */
  font-size: 1.2rem; /* Tamanho da fonte dos links */
  display: flex; /* Garante alinhamento adequado dos ícones e texto */
}

/* Estilo para o nome do usuário */
.username, .logout-form, .admin-link, .home-link, .login-link {
  font-size: 1rem; /* Tamanho da fonte do nome do usuário */
  color: #555; /* Cor do texto do nome do usuário */
  
}

/* Estilo para o contêiner de informações do usuário */
.user-info {
  display: flex; /* Estilo para o contêiner de informações do usuário */
  align-items: center; /* Alinha os itens verticalmente no centro do contêiner. */
}

/* Estilo para o contêiner de ícones no cabeçalho */
.header-icons {
  display: flex; /* Define o modelo de layout como flexível. */
  gap: 1rem;  /* Define o espaçamento entre os elementos como 1 rem. */
  align-items: center; /* Alinha os itens verticalmente no centro do contêiner. */
}

/* Estilo adicional para os ícones do FontAwesome usados nos links */
.fas {
  margin-right: 8px; /* Espaço à direita do ícone */
  
}

/* Estilo para a mensagem de boas-vindas */
#welcome-message {
  font-weight: bold;        /* Para tornar o texto em negrito */
  font-family: 'Arial', sans-serif;  /* Define a família de fontes para 'Arial' e, se não disponível, para a fonte sans-serif padrão. */
  color: #162c39;           /* código de cor desejado */
  font-size: 18px;          /*tamanho de fonte desejado */
}

/* Estilo para o botão de logout dentro do formulário */
.logout-button {
  cursor: pointer;  /* Define o cursor como apontador para indicar que é clicável. */
  background-color: #162c39; /* Cor de fundo do botão. */
  color: #fff; /* Cor do texto do botão. */
  text-decoration: none; /* Remove sublinhado padrão para links. */
  padding: 5px 10px; /* Ajuste o padding do botão conforme necessário */
  border-radius: 5px; /* Borda arredondada para um visual mais suave. */
  transition: background-color 0.3s ease; /* Efeito de transição suave para a cor de fundo. */
  margin-bottom: 0; /* Remove a margem inferior padrão. */
  display: inline-block;  /* Certifica-se de que o botão fica em uma linha com outros elementos */
  margin-left: 10px;      /* Adapte a margem conforme necessário para o espaçamento desejado */
  width: 100%; /* Faz o botão ocupar 100% da largura do contêiner pai. */
  box-sizing: border-box; /* Garante que padding e borda não aumentem a largura total do botão. */
  display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
  align-items: center; /* Alinha os itens verticalmente no centro */
}

/* Adiciona espaçamento à direita entre o ícone e o texto dentro do botão de logout */
.logout-button i {
  margin-right: 8px; /* Adiciona um espaçamento à direita entre o ícone e o texto */
}

/* Adiciona um efeito visual ao passar o mouse sobre o botão de logout */
.logout-button:hover {
  color: #ffffff; /* Escurece a cor do ícone ao passar o mouse */
  background-color: #162c39; /* Adapte a cor conforme necessário para o fundo ao passar o mouse */

}

/* Estilo para esconder o formulário de logout e mostrar apenas o ícone */
.logout-form {
  display: flex; /* Uso de flexbox para alinhamento */
}

/* Adicione este estilo em seu arquivo style.css */
.development-container i {
  color: #007bff; /* Cor Bootstrap para ícones */
}

.development-container h1 {
  color: #343a40; /* Cor Bootstrap para títulos */
}

.development-container p {
  color: #6c757d; /* Cor Bootstrap para parágrafos */
}

/* Estilos personalizados para a página de treinos */

/* Estilo para a tabela de treinos */
.table-treinos {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Estilo para os botões de ação */
.btn-acoes {
  font-size: 0.875rem; /* Tamanho menor para os botões de ação */
}

/* Estilo para o modal de criação de treino */
.modal-treino .modal-content {
  border-radius: 0.3rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* Estilo para o botão de criar treino */
.btn-criar-treino {
  background-color: #28a745; /* Verde Bootstrap */
  border-color: #28a745;
  color: #fff;
}

.btn-criar-treino:hover {
  background-color: #218838; /* Verde escuro ao passar o mouse */
  border-color: #1e7e34;
}

/* Estilo para o botão desabilitado se o usuário não tiver permissão */
.btn-criar-treino.disabled, 
.btn-criar-treino:disabled {
  background-color: #6c757d; /* Cinza Bootstrap para desabilitado */
  border-color: #6c757d;
  cursor: not-allowed;
}

/* Estilo para o multi-select de atletas */
.multi-select-atletas .form-control {
  height: auto; /* Altura automática para se ajustar ao conteúdo */
}

/* Estilo para ícones de editar e deletar */
.icon-editar,
.icon-deletar {
  cursor: pointer; /* Cursor de clique para os ícones */
  color: #007bff; /* Azul Bootstrap para ícone editar */
}

.icon-deletar {
  color: #dc3545; /* Vermelho Bootstrap para ícone deletar */
}

/* Media query para ajustes em telas menores */
@media (max-width: 768px) {
  .btn-criar-treino,
  .btn-acoes {
      font-size: 0.75rem; /* Tamanho ainda menor para os botões em telas pequenas */
  }

  /* Ajustes para o layout da tabela em telas menores */
  .table-treinos thead {
      display: none; /* Oculta cabeçalho da tabela */
  }

  .table-treinos,
  .table-treinos tbody,
  .table-treinos tr,
  .table-treinos td {
      display: block; /* Torna a tabela um bloco para scroll horizontal */
      width: 100%;
  }

  .table-treinos tr {
      margin-bottom: 0.625rem; /* Espaçamento entre as linhas */
  }

  .table-treinos td {
      text-align: right; /* Alinha o texto à direita */
      padding-left: 50%; /* Espaço para o conteúdo */
      position: relative;
  }

  .table-treinos td::before {
      content: attr(data-label); /* Usa o atributo data-label para os títulos */
      position: absolute;
      left: 0;
      width: 50%;
      padding-right: 0.625rem; /* Espaçamento */
      text-align: left; /* Alinha os títulos à esquerda */
      font-weight: bold; /* Negrito para os títulos */
  }
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  header {
    left: 60px; /* Espaço para o sidebar minimizado */
  }

  .sidebar.active ~ .sidebar-toggle {
    left: calc(100% - 60px); /* Ajusta a posição do botão */
  }

  .center-content {
    margin-left: 0; /* Sem margem quando o sidebar não está visível */
  }

  .sidebar {
    width: 60px; /* Largura do sidebar em telas pequenas */
  }

  .sidebar.minimized {
    width: 60px; /* Largura mantida em telas pequenas */
  }

  .sidebar ~ .center-content {
    margin-left: 60px; /* Ajuste de margem em telas pequenas */
  }
}

/* Animações */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}
/* Estilos para telas médias (quando a largura da tela é menor que 768 pixels, por exemplo) */
@media screen and (max-width: 768px) {
  .logout-button {
    width: 100%; /* Faz o botão ocupar a largura total do contêiner */
    box-sizing: border-box; /* Garante que padding e borda não aumentem a largura total */
    margin: 10px 0; /* Adapte a margem conforme necessário para o espaçamento desejado */
  }
}


/*PARA A PAGINA DE PROVAS*/

