{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/sidebar.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    {% include 'sidebar.html' %}
    <div class="center-content">
        <center>
            <h1>Erro no processamento</h1>
            <h2>Erro 500</h2>
        </center>
    </div>    
</body>
</html>