{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Atletas{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/sidebar.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">

    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% include 'sidebar.html' %}
    {% include 'header.html' %}
    <div class="center-content"> 
        {% block content %}
            <div class="container mt-4">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <!-- Conteúdo para treinadores -->
                        <h2 class="mb-4">Buscar Atletas</h2>
                        <form method="GET" action="{% url 'atletas' %}" id="form-busca-atleta">
                            <div class="form-group">
                                <label for="id_modelusuario">Usuário:</label>
                                <select class="custom-select" name="modelusuario" id="id_modelusuario" required>
                                    {% for usuario in modelusuarios_list %}
                                        <option value="{{ usuario.pk }}">{{ usuario.first_name }} {{ usuario.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="exibirDetalhesAtleta()">Buscar</button>
                        </form>

                        <div id="dados-atletas" class="mt-4">
                            <!-- Exibir os dados do atleta selecionado -->
                            {% for usuario in modelusuarios_list %}
                                <div class="detalhes-atleta" id="atleta-{{ usuario.pk }}" style="display: none;">
                                    <h2>Detalhes do Atleta</h2>
                                    <p><strong>Email:</strong> {{ usuario.email }}</p>
                                    <p><strong>Nome:</strong> {{ usuario.get_full_name }}</p>
                                    <p><strong>Data de Nascimento:</strong> {{ usuario.data_nascimento }}</p>
                                    <p><strong>Sexo:</strong> {{ usuario.get_sexo_display }}</p>
                                    <p><strong>CPF:</strong> {{ usuario.cpf }}</p>
                                    <p><strong>Endereço:</strong> {{ usuario.endereco }}</p>
                                    <p><strong>Curso:</strong> {{ usuario.curso }}</p>
                                    <p><strong>Matrícula:</strong> {{ usuario.matricula }}</p>
                                    <p><strong>Sócio do Grêmio Fronteira:</strong> {% if usuario.socio %}Sim{% else %}Não{% endif %}</p>
                                    <p><strong>Participação:</strong> Atleta</p>
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}
                        <!-- Conteúdo para atletas -->
                        <h2 class="mb-4">Meus Dados</h2>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Nome:</strong> {{ user.get_full_name }}</p>
                        <p><strong>Data de Nascimento:</strong> {{ user.data_nascimento }}</p>
                        <p><strong>Sexo:</strong> {{ user.get_sexo_display }}</p>
                        <p><strong>CPF:</strong> {{ user.cpf }}</p>
                        <p><strong>Endereço:</strong> {{ user.endereco }}</p>
                        <p><strong>Curso:</strong> {{ user.curso }}</p>
                        <p><strong>Matrícula:</strong> {{ user.matricula }}</p>
                        <p><strong>Sócio do Grêmio Fronteira:</strong> {% if user.socio %}Sim{% else %}Não{% endif %}</p>
                        <p><strong>Participação:</strong> Atleta</p>
                    {% endif %}
                {% else %}
                    <!-- Mensagem para usuários não autenticados -->
                    <p>Você não está autenticado.</p>
                {% endif %}
            
            </div>
                       
        {% endblock %}      
    </div> 
    
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <script>
        function exibirDetalhesAtleta() {
            var form = document.getElementById('form-busca-atleta');
            var atletaId = form.querySelector('#id_modelusuario').value;

            if (!atletaId) {
                alert("Selecione um atleta antes de buscar.");
                return;
            }

            // Esconder todos os detalhes dos atletas
            var detalhesAtletas = document.querySelectorAll('.detalhes-atleta');
            detalhesAtletas.forEach(function(detalhes) {
                detalhes.style.display = 'none';
            });

            // Exibir detalhes do atleta selecionado
            var atletaSelecionado = document.getElementById('atleta-' + atletaId);
            if (atletaSelecionado) {
                atletaSelecionado.style.display = 'block';
            }
        }
    </script>
</body>
</html>
