{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SGAN - Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/sidebar.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    {% include 'sidebar.html' %}
    {% include 'header.html' %}
    <div class="center-content">
        <center>
            <h1>SGAN</h1>
            <p>Sistema de Gerenciamento de Atletas e Natação</p>
        </center>
    </div>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
